* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
@font-face {
    font-family: 'GlichGloblin';
    src: url('fonts/GlitchGoblin-2O87v.ttf');
}

@font-face {
    font-family: 'TekturNarrow-Regular';
    src: url('fonts/TekturNarrow-Regular.ttf');
}

@font-face {
    font-family: 'TekturNarrow-Medium';
    src: url('fonts/TekturNarrow-Medium.ttf');
}
@font-face {
    font-family: 'Baron Neue Black';
    src: url('fonts/Baron\ Neue\ Black.otf');
}
@font-face {
    font-family: 'Baron Neue Bold';
    src: url('fonts/Baron\ Neue\ Bold.otf');
}

@font-face {
    font-family: 'Early Times_italic Demo';
    src: url('fonts/Early\ Times_italic\ Demo.otf');
}

@font-face {
    font-family: 'Bulzingregular';
    src: url('/fonts/Bulzingregular.otf');
    font-weight: lighter;
}

@font-face {
    font-family: 'Bulzingitalic';
    src: url('/fonts/Bulzingitalic.otf');
    src: url('fonts/BulzingItalic.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: 'Bulzingoutline';
    src: url('/fonts/Bulzingoutline.otf');
    src: url('fonts/BulzingOutline.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: 'Bulzing';
    src: url('/fonts/Bulzing.ttf');
    font-weight: lighter;
}

body {
    background-color: #140126;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.main-first {
    text-align: center;
    margin-top: 40vh;
    margin-bottom: 20vh;
}

.title {
    font-family: 'GlichGloblin';
    font-size: 4em;
    margin-bottom: 10px;
    transition: font-family 0.3s ease;
}

.glitch-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .glitch {
    position: relative;
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 3px;
    z-index: 1;
    transition: text-shadow 0.15s ease; /* Reduzi a duração da transição para tornar o efeito mais rápido */
  }
  
  .glitch:hover {
    text-shadow: 2px 2px #25b6a7, -2px -2px #83069c;
  }
  
  


.sub-title {
    font-family: 'Early Times_italic Demo';
    font-size: 1.5em;
    position: relative;
    display: inline-block;
}

.sub-title::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #13F2DC;
}

.arrow-down {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 2em;
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.arrow-down:not(.show-arrow) {
    opacity: 0;
}


.content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 50vh;
    margin-bottom: 20vh;
}

.columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    max-width: 800px;
    margin: 0 auto;
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.left-column img {
    width: 395px;
    height: 499px;
    object-fit: cover;
}


.right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: 50px;
    margin-left: 0px;
    position: relative;
}

.text-box {
    padding: 20px;
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    font-size: 22px;
    font-family: 'TekturNarrow-Regular';
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.sobre-mim {
    font-family: 'Bulzing';
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: 2rem;
    margin-left: 2rem;
}


.right-column::after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    height: 100%;
    width: 4px;
    background-color: #D714FE;
    content: '';
}

.content-programas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1000px;
    margin-bottom: 20vh;
    margin-left: 10px;
  }

  .programas-container {
    display: flex;
    align-items: center;
  }

  .programas {
    text-align: left;
    font-family: 'Bulzing';
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: 4vh;
  }

  .decorative-line-prog {
    width: 4px;
    height: 100%;
    background-color: #00E1FF;
    margin: 0 20px;
  }

  .programas-images {
    display: flex;
    align-items: center;
  }

  .programas-images img {
    width: 100px;
    height: 100px;
    margin-right: 110px;
    transition: transform 0.5s ease; /* Aumenta a duração da transição para 0.5 segundos */
  }

  .programas-images img:hover {
    transform: scale(1.2);
  }



/* trabalhos */
.trabalhos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 900px;
    margin-bottom: 10vh;
    position: relative;
}

.title-trabalhos {
    text-align: right;
    font-family: 'Bulzing';
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.trabalhos-content {
    position: relative;
}

.trabalhos-container {
    display: flex;
    align-items: center;
    position: relative;
}

.trabalhos-img {
    width: 200px;
    height: auto;
    margin-right: 3rem;
    transition: transform 0.3s ease; /* Reduz a duração da transição para 0.3 segundos */
}


.trabalhos-text {
    display: flex;
    flex-direction: column;
}

.canal-nome {
    font-family: 'Bulzing';
    font-size: 50px !important;
    font-weight: lighter;
}

.canal-nome,
.canal-ve,
.canal-inscritos,
.canal-obs {
    margin: 5px 0;
    font-size: 30px;
}

.canal-ve,
.canal-inscritos,
.canal-obs {
    font-family: 'TekturNarrow-Regular';
}


.decorative-line-trabalhos {
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
    width: 4px;
    background-color: #6F04D9;
}


/* videos editados por mim */
.videos-ed {
    max-width: 1200px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    overflow: hidden;
    position: relative;
}

.videos-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.title-videos-ed {
    font-size: 24px;
    margin-bottom: 10vh;
    text-align: center;
    color: #FFF;
    font-family: Bulzing;
    font-size: 50px;
    font-weight: 100;
}

.videos-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    overflow: hidden;
}

.video-item {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 183px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.decorative-line-videos-ed {
    position: absolute;
    height: 100%;
    width: 4px;
    background-color: #1789B6;
    left: -40px;
    top: 0;
    bottom: 0;
}

.videos-container {
    position: relative;
    margin-left: 120px;
}

/* Estilos para a seção de contato */
.contato {
    max-width: 600px;
    margin: 0 auto; /* Centraliza o bloco de contato */
    text-align: center;
    margin-top: 50px; /* Espaçamento superior */
    margin-bottom: 10vh;
}

.title-contato {
    font-size: 50px;
    color: #FFF;
    font-family: 'Bulzing';
    font-weight: lighter;
    margin-bottom: 5vh;
}

.redes {
    font-size: 30px;
    color: #FFF;
    margin: 10px 0;
    font-family: 'TekturNarrow-Regular';
}

/* Adicionado estilo para a linha decorativa */
.decorative-line-contato {
    width: 100%; /* Largura igual à largura do bloco de contato */
    height: 4px;
    background-color: #14CFFE; /* Cor da linha */
    margin-top: 10px; /* Espaçamento superior da linha */
    margin-bottom: 20px; /* Espaçamento inferior da linha */
}

.redes a {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza horizontalmente */
    text-decoration: none;
    color: #ffffff; /* Cor normal do texto */
    transition: color 0.3s ease; /* Transição suave na cor */
}

.redes a:hover {
    color: #a47ace; /* Cor alterada ao passar o mouse */
}

/* Ícone estilizado */
.icon {
    margin-right: 5px;
    width: 20px; /* Tamanho do ícone */
    height: 20px;
}

/* Adicione algum espaço entre o ícone e o texto */
.redes img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

/* Estilos para a mensagem de desenvolvimento */
.development-message {
    background-color: #FFD700; 
    color: #000; /* Cor do texto preta */
    padding: 7px;
    text-align: center;
    font-weight: bold;
    font-family: 'Arial';
    font-size: 13px;
}

.development-message p {
    margin: 0;
}

